/* 共通 */

.box-content{
  display: flex;
  justify-content: center;
}

p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.red-box{
  width: 300px;
  height: 300px;
  background: #ff0000;
}

.blue-box{
  width: 300px;
  height: 300px;
  background: #0008ff;
}

.green-box{
  width: 300px;
  height: 300px;
  background: #00ff51;
}

.yellow-box{
  width: 300px;
  height: 300px;
  background: #d4ff00;
}

.orange-box{
  width: 300px;
  height: 300px;
  background: #ff8400;
}

.pink-box{
  width: 300px;
  height: 300px;
  background: #ff00e1;
}


/* Q1  サイズ変更 */

.red-box--size{
  width: 400px;
  height: 400px;
  background: #ff0000;
  margin: 0 auto;
}



/* Q2  色変更 */

.red-color-box{
  width: 300px;
  height: 300px;
  background: #ff0000;
  margin: 0 auto;
}


/* Q3  margin値の変更 */

.blue--margin{
  margin-right: 150px;
}


/* Q4  floatの解除 */

.clearfix::after{
  content: '';
  display: block;
  clear: both;
}

.is--float{
  float: left;
}


/* Q5  flexboxの入れ替え(逆順） */

.reverse{
  flex-direction: row;
}

.box--relative{
  position: relative;
}


/* Q6  flex-boxの入れ替え（指定） */

.change{
  flex-direction: row;
}

.green--change{
  order: 1;
}

.yellow--change{
  order: 2;
}

.pink--change{
  order: 3;
}


/* Q7  要素の表示・非表示 */

.display{
  flex-direction: row;
}

.blue--display{
  display: none;
}

.red--display{
  display: block;
}

.green--display{
  display: block;
}


/* media screen */

@media screen and (max-width:959px){
  .red-box--size{
    width: 200px;
    height: 200px;
  }

  .red-color-box{
    background: #007bff;
  }

  .blue--margin{
    margin-right: 50px;
  }

  .is--float {
    float: none;
  }

  .reverse{
    flex-direction: row-reverse;
  }

  .pink--change{
    order: 1;
  }

  .green--change{
    order: 2;
  }

  .yellow--change{
    order: 3;
  }

  .red--display{
    display: none;
  }

  .blue--display{
    display: block;
  }
}